<div class="container-fluid bg-image">
    <div class="row">

        <div style="margin-top: 5vh;" class="col-md-6 mx-auto col-sm-8">
            <div class="card border-info cardBorder">
                <div style="padding-top:30px" class="card-body text-center ">
                    <div class="text-center">
                        <div>
                            <h2>Reset Password!</h2>
                        </div>
                        <div>
                            <h5>Please choose new password</h5>
                        </div>
                    </div>

                    <br>
                    <form class="form-horizontal" role="form">
                        <div class="input-group mb-3 form-field-container">

                            <mat-form-field appearance="standard">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Enter your Password" minlength="8" #pwd="ngModel" [(ngModel)]="password" name="password" required>
                                <mat-hint>* Min 8 Characters</mat-hint>

                                <mat-error *ngIf="pwd.errors?.required">You must enter a value</mat-error>
                                <mat-error *ngIf="pwd.errors?.minlength">You must enter atleast 8 Chars</mat-error>

                            </mat-form-field>

                        </div>
                        <br>
                        <div class="input-group mb-3 form-field-container">

                            <mat-form-field appearance="standard">
                                <mat-label>Re-enter Password</mat-label>
                                <input matInput type="password" placeholder="Re-enter your Password" minlength="8" #conpwd="ngModel" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                                <mat-hint>* Min 8 Characters</mat-hint>

                                <mat-error *ngIf="conpwd.errors?.required">You must enter a value</mat-error>
                                <mat-error *ngIf="conpwd.errors?.minlength">You must enter atleast 8 Chars</mat-error>

                            </mat-form-field>

                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <button id="btn-save" type="button" class="btn btn-primary" (click)="updatePasswordFunction()">
                  <i class="icon-hand-right"></i> Save</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="col-md-12 control">
                        Let's Achieve all our dreams one by one !
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>