<div class="container-fluid bg-image">
    <div class="row">
        <div style="margin-top: 5vh;" class="col-md-6 mx-auto col-sm-8">
            <div class="card border-info cardBorder">
                <div style="padding-top:30px" class="card-body text-center ">
                    <div class="text-center">
                        <div>
                            <h2>Request Password!</h2>
                        </div>
                        <div>
                            <h5>Let us help you to recover your password, Please provide the required Info.</h5>
                        </div>
                    </div>

                    <br>
                    <form class="form-horizontal" role="form" #forgotForm="ngForm">

                        <div class="input-group mb-3 form-field-container">

                            <mat-form-field>
                                <mat-label>Email</mat-label>

                                <input matInput placeholder="Enter your email" [formControl]="email" required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <button id="btn-send" type="button" style="float:right" class="btn btn-primary" (click)="forgotPasswordFunction()" [disabled]="!forgotForm.valid">
                                    <i class="icon-hand-right"></i> Send </button>

                                <br>
                                <br>
                                <button mat-button color="accent" type="button" style="float:right" [routerLink]="['/user/login']">Sign
                                    In </button>

                            </div>
                        </div>


                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="col-md-12 control">
                        We Know great things happen with great people like you!
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>