.list-container {
    height: 90vh;
    width: 100%;
    background-color: #ffffff;
}

.friend-sidenav {
    width: 100%;
    background-color: #F4F4F4;
}

.container-fluid .col-12 {
    background: -webkit-linear-gradient(left, #B2FEFA, #0ED2F7);
}